**Explorando maneiras de lidar com missing values**

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Criando um Dict
dic = {'A':[1,2,np.nan], 'B':[5,np.nan,np.nan], 'C':[1,2,3]}
dic

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [3]:
# Tranformar o Dict em DataFrame
df = pd.DataFrame(dic)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [4]:
# Apagar linhas e colunas com valores NaN:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [5]:
# Apagar linhas com valores NaN:
df.dropna(axis=0)

     A    B  C
0  1.0  5.0  1

In [6]:
# Apagar colunas com valores NaN:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [7]:
# Preencher com fillna(value=):
print(df.fillna(value="faltando"))

          A         B  C
0         1         5  1
1         2  faltando  2
2  faltando  faltando  3

In [8]:
# Prencher a coluna com a média dos outros valores da mesma:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64