**Exercício Prático usando a biblioteca Pandas, o dataset utilizado pode ser encontrado no Link: https://www.kaggle.com/kaggle/sf-salaries**

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Salaries.csv")

In [3]:
data.head()

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [5]:
#Media dos salários
data["BasePay"].mean()

66325.44884050643

In [6]:
#Maior dos salários
data["BasePay"].max()

319275.01

In [7]:
#pessoa com o maior salário
data[data["BasePay"] == data["BasePay"].max()]["EmployeeName"]

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [8]:
#Buscando mais dados a respeito 
data.iloc[data["BasePay"].idxmax()]

Id                            72926
EmployeeName         Gregory P Suhr
JobTitle            Chief of Police
BasePay                      319275
OvertimePay                       0
OtherPay                    20007.1
Benefits                    86533.2
TotalPay                     339282
TotalPayBenefits             425815
Year                           2013
Notes                           NaN
Agency                San Francisco
Status                          NaN
Name: 72925, dtype: object

In [9]:
#localizar os funcionários que tem como JobTitle = CAPTAIN III (POLICE DEPARTMENT) (10 primeiros da lista)
data[data["JobTitle"] == "CAPTAIN III (POLICE DEPARTMENT)"].head(10)

      Id      EmployeeName  ...         Agency  Status
1      2      GARY JIMENEZ  ...  San Francisco     NaN
2      3    ALBERT PARDINI  ...  San Francisco     NaN
11    12  PATRICIA JACKSON  ...  San Francisco     NaN
61    62        ANNA BROWN  ...  San Francisco     NaN
65    66     RICHARD PARRY  ...  San Francisco     NaN
91    92     DONNA MEIXNER  ...  San Francisco     NaN
93    94       JOHN MURPHY  ...  San Francisco     NaN
125  126   SHARON FERRIGNO  ...  San Francisco     NaN
211  212    CROCE CASCIATO  ...  San Francisco     NaN
214  215       JOHN FEENEY  ...  San Francisco     NaN

[10 rows x 13 columns]

In [10]:
#Agrupando por ano a méédia de salário base
data.groupby("Year").mean()["BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [11]:
#Visualizar quantos JobTitles únicos existem
#outro jeito de fazer o mesmo codigo: len(data["JobTitle"].unique())
data["JobTitle"].nunique()

2159

In [12]:
#Os 5 JobTitles mais comuns
data["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [13]:
#Criando uma função para verificar se a pessoa possui "Chief" no JobTitle
def chief_string(title):
  if "chief" in title.lower().split():
      return True
  else:
      return False

In [14]:
#Aplicando a função e somando a quantidade encontrada com a função sum()
sum(data["JobTitle"].apply(lambda x: chief_string(x)))

477

In [15]:
#Numero de funcionários em cada cargo (10 primeiros da lista)
data["Quantidade"] = data["JobTitle"].apply(len)
data[["JobTitle", "Quantidade"]].head(10)

                                         JobTitle  Quantidade
0  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY          46
1                 CAPTAIN III (POLICE DEPARTMENT)          31
2                 CAPTAIN III (POLICE DEPARTMENT)          31
3            WIRE ROPE CABLE MAINTENANCE MECHANIC          36
4    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)          44
5                       ASSISTANT DEPUTY CHIEF II          25
6              BATTALION CHIEF, (FIRE DEPARTMENT)          34
7                  DEPUTY DIRECTOR OF INVESTMENTS          30
8              BATTALION CHIEF, (FIRE DEPARTMENT)          34
9          CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)          38

In [16]:
#Ordenando do mais frequento para o menos frequente (20 primeiros mais frequentes)
dadinho = data[["JobTitle", "Quantidade"]]
dadinho.sort_values(by=["Quantidade"], ascending=False).head(20)

                                                JobTitle  Quantidade
197    CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC ...          50
10331  ASSISTANT TO THE DIRECTOR, PUBLIC AFFAIRS     ...          50
278    INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLI...          50
34811  AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS AD...          50
31008  APPRENTICE STATIONARY ENGINEER,WATER TREATMENT...          50
883    INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLI...          50
4908   LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBL...          50
1644   INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLI...          50
3820   INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLI...          50
3287   INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLI...          50
7659   ELECTRONIC MAINTENANCE TECHNICIAN ASSISTANT SU...          50
13127  SENIOR CENTRAL PROCESSING AND DISTRIBUTION TEC...          50
6894   ELECTRONIC MAINTENANCE TECHNICIAN ASSISTANT SU...          50
5752   ELECTRONIC MAINTENANCE TECHNICIAN ASSISTANT SU...          50
4832   ELECTRONIC MAINTENANCE TECHNICIAN ASSISTANT SU...          50
7117   ELECTRONIC MAINTENANCE TECHNICIAN ASSISTANT SU...          50
11305  SENIOR INVESTIGATOR, OFFICE OF CITIZEN'S COMPL...          50
26735  APPRENTICE STATIONARY ENGINEER,WATER TREATMENT...          50
13252  EXECUTIVE ASSISTANT TO THE ADMINISTRATOR, S.F....          50
3976   ELECTRONIC MAINTENANCE TECHNICIAN ASSISTANT SU...          50