In [1]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/27/67/5158f846202d7f012d1c9ca21c3549a58fd3c6707ae8ee823adcaca6473c/pyspark-3.0.2.tar.gz (204.8MB)
     |████████████████████████████████| 204.8MB 63kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 54.9MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.2-py2.py3-none-any.whl size=205186687 sha256=cdf67ed35aeb56abcfe117d3e56d09331583eed119dca42be7259cf53db70fa8
  Stored in directory: /root/.cache/pip/wheels/8b/09/da/c1f2859bcc86375dc972c5b6af4881b3603269bcc4c9be5d16
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.2

In [5]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('ops').getOrCreate()

In [9]:
df = spark.read.csv('appl_stock.csv', inferSchema=True,header=True)

In [10]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [13]:
df.show(10)

+----------+------+------+------+------+--------+---------+
|      Date|  Open|  High|   Low| Close|  Volume|Adj Close|
+----------+------+------+------+------+--------+---------+
|2012-03-30|608.77|610.56|597.94|599.55|26050900|   599.55|
|2012-03-29|612.78|616.56|607.23|609.86|21668300|   609.86|
|2012-03-28|618.38|621.45|610.31|617.62|23385200|   617.62|
|2012-03-27|606.18|616.28|606.06|614.48|21628200|   614.48|
|2012-03-26|599.79|607.15|595.26|606.98|21259900|   606.98|
|2012-03-23|600.49| 601.8| 594.4|596.05|15359900|   596.05|
|2012-03-22|597.78| 604.5|595.53|599.34|22281100|   599.34|
|2012-03-21|602.74|609.65|601.41| 602.5|22958200|    602.5|
|2012-03-20|599.51| 606.9|591.48|605.96|29166500|   605.96|
|2012-03-19|598.37|601.77|589.05| 601.1|32187000|    601.1|
+----------+------+------+------+------+--------+---------+
only showing top 10 rows

In [14]:
# USANDO FILTER para os 20 primeiros registros com Close < 500
df.filter("Close < 500").show(20)

+----------+------+------+------+------+--------+---------+
|      Date|  Open|  High|   Low| Close|  Volume|Adj Close|
+----------+------+------+------+------+--------+---------+
|2012-02-15|514.26|526.29|496.89|497.67|53706600|   497.67|
|2012-02-10|490.96|497.62|488.55|493.42|22523900|   493.42|
|2012-02-09|480.76|496.75|480.56|493.17|31527700|   493.17|
|2012-02-08| 470.5|476.79| 469.7|476.68|14544700|   476.68|
|2012-02-07|465.25|469.75|464.58|468.83|11280600|   468.83|
|2012-02-06|458.38|464.98| 458.2|463.97| 8907600|   463.97|
|2012-02-03| 457.3| 460.0|455.56|459.68|10235700|   459.68|
|2012-02-02| 455.9|457.17|453.98|455.12| 6661100|   455.12|
|2012-02-01|458.41|458.99|455.55|456.19| 9624500|   456.19|
|2012-01-31|455.59|458.24|453.07|456.48|13988700|   456.48|
|2012-01-30|445.71| 453.9|445.39|453.01|13531000|   453.01|
|2012-01-27|444.34|448.48|443.77|447.28|10703900|   447.28|
|2012-01-26|448.36|448.79|443.14|444.63|11570900|   444.63|
|2012-01-25|454.44|454.45|443.73|446.66|34185200|   446.66|
|2012-01-24| 425.1| 425.1|419.55|420.41|19226900|   420.41|
|2012-01-23|422.67|428.45| 422.3|427.41|10915800|   427.41|
|2012-01-20|427.49| 427.5|419.75| 420.3|14758300|    420.3|
|2012-01-19|430.15|431.37|426.51|427.75| 9332700|   427.75|
|2012-01-18|426.96|429.47| 426.3|429.11| 9872800|   429.11|
|2012-01-17| 424.2|425.99|422.96| 424.7| 8658700|    424.7|
+----------+------+------+------+------+--------+---------+
only showing top 20 rows

In [15]:
# USANDO FILTER COM SINTAXE SQL
df.filter("Close < 500").select(['Open', 'Close']).show()

+------+------+
|  Open| Close|
+------+------+
|514.26|497.67|
|490.96|493.42|
|480.76|493.17|
| 470.5|476.68|
|465.25|468.83|
|458.38|463.97|
| 457.3|459.68|
| 455.9|455.12|
|458.41|456.19|
|455.59|456.48|
|445.71|453.01|
|444.34|447.28|
|448.36|444.63|
|454.44|446.66|
| 425.1|420.41|
|422.67|427.41|
|427.49| 420.3|
|430.15|427.75|
|426.96|429.11|
| 424.2| 424.7|
+------+------+
only showing top 20 rows

In [16]:
# USANDO FILTRO COM MULTIPLAS CONDIÇÕES (and, or e not NAO FUNCIONAM)
# DEVE-SE USAR &, | ou ~
df.filter( (df['Close'] < 200) & (df['Open']>200) ).show()

+----------+------+------+------+------+--------+---------+
|      Date|  Open|  High|   Low| Close|  Volume|Adj Close|
+----------+------+------+------+------+--------+---------+
|2010-01-29|201.08| 202.2|190.25|192.06|44498300|   192.06|
|2010-01-28|204.93| 205.5| 198.7|199.29|41910800|   199.29|
|2010-01-22|206.78| 207.5|197.16|197.75|31491700|   197.75|
|2009-12-01|202.24|202.77|196.83|196.97|16634400|   196.97|
|2009-11-30|201.11|201.68|198.77|199.91|15173500|   199.91|
|2009-10-27|201.66|202.81|196.45|197.37|27019700|   197.37|
|2009-10-20| 200.6|201.75|197.85|198.76|40751400|   198.76|
|2007-12-28|200.59|201.56|196.88|199.83|24987400|   199.83|
+----------+------+------+------+------+--------+---------+

In [17]:
# OUTROS USOS
df.filter(df['Low'] == 197.16).show()

+----------+------+-----+------+------+--------+---------+
|      Date|  Open| High|   Low| Close|  Volume|Adj Close|
+----------+------+-----+------+------+--------+---------+
|2010-01-22|206.78|207.5|197.16|197.75|31491700|   197.75|
+----------+------+-----+------+------+--------+---------+

In [18]:
# CRIANDO DICT DO RESULTADO
df.filter(df['Low'] == 197.16).collect()

[Row(Date='2010-01-22', Open=206.78, High=207.5, Low=197.16, Close=197.75, Volume=31491700, Adj Close=197.75)]

In [20]:
result_197 = df.filter(df['Low'] == 197.16).collect()
result_197[0]

Row(Date='2010-01-22', Open=206.78, High=207.5, Low=197.16, Close=197.75, Volume=31491700, Adj Close=197.75)

In [21]:
row_197 = result_197[0]

In [22]:
# É possivel filtrar, ex: row_197.asDict()['Volume']
row_197.asDict()

{'Adj Close': 197.75,
 'Close': 197.75,
 'Date': '2010-01-22',
 'High': 207.5,
 'Low': 197.16,
 'Open': 206.78,
 'Volume': 31491700}