# **PYSPARK - dates and timestamps**

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dates').getOrCreate()

In [3]:
df = spark.read.csv('appl_stock.csv', header=True,inferSchema=True)

In [4]:
#df.select(['Date', 'Open']).show()

In [5]:
from pyspark.sql.functions import (dayofmonth,hour,dayofyear,month,
                                   year,weekofyear,format_number,date_format)

In [6]:
df.select(dayofmonth(df['Date'])).show(10)

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
+----------------+
only showing top 10 rows

In [7]:
newdf = df.withColumn('Year',year(df['Date']))

In [8]:
result = newdf.groupBy('Year').mean().select(['Year', 'avg(Close)'])

In [9]:
new = result.withColumnRenamed('avg(Close)','Average Close Price')

In [10]:
new.select(['Year',format_number('Average Close Price',2).alias('Avg Close')]).show()

+----+---------+
|Year|Avg Close|
+----+---------+
|2015|   120.04|
|2013|   472.63|
|2014|   295.40|
|2012|   576.05|
|2016|   104.60|
|2010|   259.84|
|2011|   364.00|
+----+---------+