# SPARK DATAFRAMES

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
# Definindo schemas para os dados
from pyspark.sql.types import (StructField, StringType,
                               IntegerType, StructType)

In [10]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

In [11]:
final_struc = StructType(fields = data_schema)

In [12]:
df = spark.read.json('people.json', schema=final_struc)

In [13]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [14]:
type(df['age'])

pyspark.sql.column.Column

In [15]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [16]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [17]:
df.head(2)[0]

Row(age=None, name='Michael')

In [18]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [19]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [20]:
# NAO ALTERA O DATAFRAME
# nova coluna
df.withColumn('doubleage', df['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [21]:
# Renomear coluna exitente
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [22]:
# USANDO SQL COM PYSPARK
df.createOrReplaceTempView('people')

In [23]:
results = spark.sql('SELECT * FROM people')

In [24]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
new_results = spark.sql('SELECT * FROM people WHERE age=30')

In [26]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+